langchain
langchain-google-genai
langchain-openai
dotenv
langchain-anthropic
streamlit
langchain-ollama
langchain-groq
langchain-tavily
google-search-results
langchain-mistralai
langchain-community
langgraph
pypdf
beautifulsoup4 # this is for web scraping, if you want to scrape data from websites you can use this
wikipedia
langchain-text-splitters
langchain-chroma